<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,115}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,144}</string>
                <key>spriteSourceSize</key>
                <string>{125,144}</string>
                <key>textureRect</key>
                <string>{{111,0},{125,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{115,116}</string>
                <key>textureRect</key>
                <string>{{0,144},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,118}</string>
                <key>spriteSourceSize</key>
                <string>{110,118}</string>
                <key>textureRect</key>
                <string>{{115,144},{110,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,120}</string>
                <key>spriteSourceSize</key>
                <string>{109,120}</string>
                <key>textureRect</key>
                <string>{{0,262},{109,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,143}</string>
                <key>spriteSourceSize</key>
                <string>{128,143}</string>
                <key>textureRect</key>
                <string>{{109,262},{128,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{237,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1f0e5822bc0f76b0383307fca24756:ca89cf8ee7750341d3dc51c03adc728d:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
